* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

#headline {
  padding: 50px;
  background-color: hsla(0, 0%, 100%, 0.8);
  display: inline-block;
  border-bottom: 5px solid #FF6200;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -25%;
  z-index: 10;

}

/* #featuredProduct {
  display: flex;
  justify-content: center;
  align-items: center;
} */

#CTA {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10%;
  padding: 10px;
}

/* Grid CSS */
#heroGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "featuredProduct featuredProduct featuredProduct secondaryProduct"
    "featuredProduct featuredProduct featuredProduct secondaryProduct"
    "featuredProduct featuredProduct featuredProduct CTA"
  ;
  height: 100vh;
}


/* Category Grid CSS */
#featuredProduct {
  grid-area: featuredProduct;
  background-image: url("../images/furniture1.png");
  background-size: cover;
}

#secondaryProduct {
  grid-area: secondaryProduct;
  background-image: url("../images/furniture2.png");
  background-size: cover;
  background-position: bottom;
}

#CTA {
  grid-area: CTA;
  background-image: url("../images/woodbg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* Navigation CSS */
/* CHECK OUT THIS CODE BELOW IF YOU WANT TO GET A REFRESHER ON FLEX */
#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}

#navBar h1 {
  width: 25%;
  font-weight: 500;
}

#navigation {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}

#navigation p {
  cursor: pointer;
  text-decoration: none;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}

.icons img {
  margin: 15px;
  cursor: pointer;
}

.highlight {
  color: #FF6200;
  font-weight: 700;
}

/* Typography CSS */

h2 {
  font-size: 60px;
  margin: 0px 0px;
  color: #FF6200;
}

h3 {
  font-size: 32px;
  font-weight: 300;
  margin: 0px 0px;
}

h4 {
  color: white;
  font-weight: 400;
  font-size: 22px;
}


#headline p {
  max-width: 350px;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px;
  color: #636364;
}