section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
}

img {
  padding: 20px
  margin: 20px;
  border: 20px
  width: 200px;
  height: 200px;
  background-color: lightblue;
